@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins';
    text-decoration: none;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
}
body {
    background-image: url(./pag4.png);
    background-size: cover;
}


nav {
    display: flex;
    gap: 40px;
    text-align: center;
    justify-content: center;
}


.navMobile {

    display: none;


}

button {
    background: linear-gradient(#5de0e6, #004aad);
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: 4px solid black;
    font-size: 15px;
    margin-top: 20px;
    color: black;
    font-weight: bolder;
}

button:hover {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    border: #FFFFFF
}

h2 {
    margin-bottom: 10px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    color: black;
}

h3 {
    margin-bottom: 10px;
    font-size: 25px;
    color: black;
    text-align: center;
}

p {
    color: black;
    margin-bottom: 5px;

    font-size: 15px;
}

.text {

    width: 875px;
    height: 487px;
    margin: auto;
    margin-top: 40px;
    font-size: 15px;
    padding: 10px;
    border: black solid 4px;
    margin-left: 680px;
    background-color: #FFFF;

}

.colaborar {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 978px;
    text-decoration: none;
}

.divCadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 380px;
    margin-top: 1px;
    margin-bottom: 15px;
    width: 200px;
    text-decoration: none;
}

.cadastrarButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 55px;
    margin-top: 25px;
    width: 200px;
    height: 53px;
    text-decoration: none;


}

footer {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-size: 30px;
    gap: 30px;
    height: 50px;
    background-color: #202020;




}

a {
    margin-top: 4px;
}


.pFooter {

    font-size: 15px;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 19px;
    margin-left: 136px;
    margin-right: 53px;
    font-family: Poppins;
}



.p2Footer {

    font-size: 15px;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 19px;
    margin-left: 136px;
    margin-right: 53px;
    font-family: Poppins;
}

.bi-linkedin {
    color: rgb(10, 100, 198);
    margin-top: 8px;
    display: inline-flex;
    gap: 10px;
}

.bi-google {
    color: darkred;
    display: inline-flex;
    margin-top: 8px;
    gap: 10px;
}


.bi-github {

    color: #FFFFFF;
    display: inline-flex;
    margin-top: 8px;
    gap: 10px;

}

.bi-browser-edge {
    color: #004aad;
    display: inline-flex;
    margin-top: 8px;
    gap: 10px;
}

/* Menu mobile escondido inicialmente */
.menu-options {
    display: none;
    background-color: #000;
    opacity: 0.97;
    padding: 10px;
    position: absolute;
    right: -20px;
    top: 65px;
    border-radius: 20px;
}

.menu-options li {
    list-style: none;
    margin: 10px 10px 10px -37px;
}

.menu-options li a {
    color: white;
    text-decoration: none;
}


@media screen and (max-width: 700px) {
    nav {
        display: none;
    }

    .navMobile {
        display: grid;
    }


    .list {
        display: grid;
        margin: auto;
        background-color: black;
        width: 150px;
    }

    .menu-options.active {
        display: grid;
        margin-right: 145px;
    }

    .menu-options.active+

    /* Ícone do menu */
    .menu-icon {
        font-size: 30px;
        cursor: pointer;
        color: black;
    }


    .bi-list {
        font-size: 50px;
        cursor: pointer;

    }

    .bi-list:hover {
        color: #000;
        background: linear-gradient(#5de0e6, #004aad);
        border-radius: 20px;
        transition: 1s;
    }

    .text {
        margin-left: 0;
        width: 95%;
        height: 490px;
        margin: auto;

        background-color: #FFFFFF;

    }

    .divCadastrar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: -15px;
        margin-bottom: 35px;
        width: 200px;
        text-decoration: none;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 15px;
    }

    p {
        font-size: 11px;
    }

    footer {
        color: #FFFFFF;
        display: block;
        justify-content: center;
        font-size: 25px;
        gap: 30px;
        height: 77px;
        width: 100vw;
        background-color: #202020;

    }

    a {
        margin-left: 60px;
    }

    .pFooter {
        font-size: 12px;
        margin-left: 33px;
        margin-top: 5px;
        margin-right: 1px;
    }

    
    .p2Footer {

        font-size: 12px;
        justify-content: center;
        margin-top: -3px;
        margin-bottom: -4px;
        margin-left: 130px;
        margin-right: 35px;

    }

    .bi-linkedin {
     margin-left: -25px;
}

    /*
    .cadastrar{
        margin-left: 100px;
        width: 200px;
    }
        */
}