@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#FFFFFF;
    font-family: 'Poppins';
    text-decoration: none;
    }

    body{
        background-image:url(./pag4.png);
        background-size: cover;
    }


    nav{
        display: flex;
        gap: 40px;
        text-align: center;
        justify-content: center;
        }

        button{
            background:linear-gradient(#5de0e6,#004aad);
            width: 150px;
            height: 40px;
            border-radius: 50px;
            border: 4px solid black;
            font-size: 15px;
            margin-top: 20px;
            color: black;
            font-weight: bolder;
            }

           button:hover{  text-decoration: none;
                color: #FFFFFF;
                cursor: pointer;
                border: #FFFFFF
                }

            h2{
                margin-bottom: 10px;
                font-size: 35px;
                display: flex;
                justify-content: center;
                color: black;
            }
            h3{
                margin-bottom: 10px;
                font-size: 25px;
                color: black;
                text-align: center;
            }
            p{
                color: black;
                margin-bottom: 5px;
                
                font-size: 15px;
            }
.text{

    width: 875px;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    font-size: 15px;
    padding: 10px;
     border: black solid 4px;
    margin-left: 680px;
    background-color: #FFFF;
    
}

.colaborar{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    flex-wrap: wrap;
    align-content: center;
     margin-left: 978px;
     text-decoration: none;
}
.divCadastrar{
       display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 380px;
    margin-top: 25px;
    width: 200px;
    text-decoration: none;
}
.cadastrarButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 55px;
    margin-top: 25px;
    width: 200px;
    height: 53px;
    text-decoration: none;
       
    
}


@media screen and (max-width: 700px){
    nav{
        display: block;
    }
.text{
        margin-left: 0;
        width:380px;
        margin: auto;
        margin-top: 20px;
        background-color: #FFFFFF;

    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 15px;
    }
    p{
        font-size: 11px;
    }
    /*
    .cadastrar{
        margin-left: 100px;
        width: 200px;
    }
        */
}
